.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.currency{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}